:root {
    /* Main Colors */
    --primary-bg-color: #1c1c1d;
    --secondary-bg-color: #252728;
    --button-bg-color: #3b3d3d;
    --button-hover-bg-color: #545757;

    --primary-text-color: #FFFFFF;
    
    /* Font Family */
    --primary-text-font: 'Source Sans Pro';
    --secondary-text-font: 'Norwester';
    --logo-text-font: 'Edo';

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Source Sans Pro';
    overflow-x: hidden;
}

.navbar {
    background-color: var(--secondary-bg-color);
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 20px 20px;  
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-container .logo span a{
    font-family: var(--logo-text-font);
    color: var(--primary-text-color);
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.nav-container .logo span a:hover {
    transform: scale(1.3);

}

.nav-container ul,
.nav-container a {
    font-family: 'Norwester';
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    text-wrap: nowrap;

}

.nav-container ul li {
    background-color: var(--button-bg-color);
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.nav-container ul li:hover {
    background-color: var(--button-hover-bg-color);

}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/wk5-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.hero-container h2 {
    font-family: 'Edo';
    font-size: clamp(3rem, 8vw, 5rem);
    color: var(--primary-text-color);

}

.hero-container p {
    font-family: 'Edo';
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    text-align: start;
    color: var(--primary-text-color);

}

.about {
    padding: 120px 0;
    background: #f8f9fa;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.about-container .about-text {
    flex-grow: 1;
    flex-basis: 50%;
}

.about-text h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
}

.about-text p {
    font-size: 18px;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
    line-height: 1.8;
}

.about-image {
    flex-grow: 1;
    flex-basis: 50%;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.1s ease-in;
}

.hobbies {
    padding: 30px 0;
}

.hobbies-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
}

.header h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    text-align: start;
}

.hobbies ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.hobbies ul li {
    flex-grow: 1;
    flex-basis: 700px;
    background-color: var(--secondary-bg-color); 
    padding: 170px 0;
    text-align: center;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    border-radius: 18px; 
    user-select: none;
    transition: background-size 0.1s ease-in-out;
}

.hobbies ul li:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/watching_youtube.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.hobbies ul li:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/watching_movies.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
.hobbies ul li:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/playing_games.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hobbies ul li:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/listening_music.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hobbies ul li:nth-child(1):hover,
.hobbies ul li:nth-child(2):hover,
.hobbies ul li:nth-child(3):hover,
.hobbies ul li:nth-child(4):hover {
    background-size: 150%;
}

.skill {
    padding: 30px 0;
    background: #f8f9fa;
}

.skills-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 30px 0;
}

.skills-container ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-container ul li {
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 400px;
    min-height: 300px;
    background-color: var(--primary-bg-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 30px;

}
.skills-container ul li img {
    height: 150px;
    width: 150px;

}

.skills-container ul li p:nth-child(1),
.skills-container ul li p:nth-child(2),
.skills-container ul li p:nth-child(3) {
    color: var(--primary-text-color);
}

.contacts {
    padding: 20px 0;
    background-color: var(--primary-bg-color);
}

.contacts .contact-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-container .header h2 {
    font-size: clamp(1 rem, 2vw, 1rem);
    color: var(--primary-text-color);
    text-align: right;
}

.contact-container ul {
    color: var(--primary-text-color);
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: clamp(1rem, 2vw, 1rem);
    gap: 2rem;

}

@media screen and (max-width: 768px){
    .hero .hero-container p {
        text-align: center;
    }

    .about .about-container {
        flex-wrap: wrap-reverse;

    }
    
}