:root {
  --font-color: #F7AA08;
  --text-hover-color: #1392CC;
  --primary-background-color: #1C4C4E;
  --secondary-background-color: #250842;
}

* {
  padding: 0;
  font-style: 'Source Sans Pro';
  color: var(--font-color);
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url('../assets/adventuretime.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: var(--font-color);

}

#Navigation_Bar {
  background-color: transparent;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#Navigation_Bar nav {
  background-color: var(--primary-background-color);
  border-radius: 4px;
  padding: 5px 15px;
  width: 98%;

  display: flex;
  justify-content: space-between;
 
}

.Logo_Section span {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;

}

.Account_Links,
.Account_Links ul {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;

}

.Logo_Section span:hover,
.Account_Links ul a:hover {
  transition: all 0.2s;
  color: var(--text-hover-color);

}

#Main_Content {
  padding: 15px;
  height: calc(100vh - 50px);

}

#Main_Content section {
  background: #1C4C4E66; 
  backdrop-filter: blur(10px); 
  padding: 20px;
  height: 100%;

  border-style: solid;
  border-color: var(--font-color);
  border-width: 1px;
  border-radius: 4px;

  display: flex;
}

#Main_Content .Profile {
  
  flex-grow: 1;
  flex-basis: 20%;
  text-wrap: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-inline-end-style: solid;
  border-inline-end-width: 2px;
  border-inline-end-color: var(--font-color);

}

#Main_Content .Abouts {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0 10px;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: visible;
}

.Abouts > * {
  flex-grow: 1;

}

.Abouts > * > :nth-child(1) {
  
  margin-bottom: 10px;

}

.Abouts > * > :nth-child(2) {
  margin-left: 25px;

}

.Abouts .Contacts .Buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.Buttons input {
  background-color: var(--primary-background-color);
  font-size: 1rem;
  padding: 10px;
  width: 100px;

  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  transition: background-color 0.1s;
}

.Buttons input:hover {
  background-color: #163c3d;

}

.Buttons input:active {
  background-color: var(--text-hover-color);

}

@media screen and (max-width: 768px){
  * {
    overflow-y: visible;

    overflow-x: hidden;
  }

  body {
    height: 100%;

  }

  #Main_Content {
    height: 100%;

  }

  #Main_Content section {
    flex-direction: column;

  }
  
  #Main_Content .Profile {
    border-inline-end-style: none;
    border-bottom-style: solid;
    border-color: var(--font-color);
  }

  #Main_Content .Abouts .Buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);

  }
}