* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: white;
    background-color: black;

    
}